@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=My+Soul&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(206, 53%, 20%);
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 3rem;
  font-family: "My Soul", cursive;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.3rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.8rem;
}

a {
  font-size: 1.8rem;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 1.6rem;
}

img {
  max-width: 100%;
}

header {
  position: sticky;
  top: 0;
}

nav {
  text-align: center;
  padding: 3rem 0;
  background-color: var(--primary-color);
}

main {
  background: hsla(205, 46%, 33%, 0.185);
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
  border-radius: 10px;
}

.hero-container > * {
  flex-basis: 100%;
}

.hero-img {
  text-align: right;
}

.hero-img img {
  height: 350px;
  border-radius: 50%;
}

/* food styles  */

.food {
  text-align: center;
  padding-block: 5rem;
}

.fav_food {
  margin-top: 2rem;
}

iframe {
  width: 75%;
  height: 415px;
}

/* footer styles  */

#footer {
  text-align: center;
  padding: 3rem 0;
  background-color: var(--primary-color);
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  a {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.5rem;
    text-align: justify;
  }

  .hero-container {
    flex-direction: column-reverse;
    row-gap: 3rem;
  }

  .hero-img img {
    height: 250px;
    border-radius: 0 0 50% 50%;
  }

  /* food styles  */

  .food {
    padding-block: 2rem;
    text-align: center;
  }

  .food p {
    text-align: center;
    font-size: 1.6rem;
  }

  .fav_food {
    margin-top: 1.6rem;
  }

  iframe {
    width: 100%;
    height: 300px;
  }
}
